* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
         /* HEADER */

.headTitle {
    width: 100vw;
    height: 20vh;
    background-color: #333333;
    margin: 0 auto;
}

.textTitle {
    font-family: 'Rock Salt', cursive;
    color: white;
    padding: 20px;
    margin: 0;
}

          /*  NAVBAR   */

nav {
    /* display: flex; */
    width: 100vw;
    height: auto;
    background-color: #E1F4F3;
    margin: 0;
    overflow: hidden;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit; 
    margin: 0; 
  }
  
  .dropBtn {
    background-color: #E1F4F3;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px;
}

.dropBtn:hover {
    background-color: #706C61;
    color: white;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdownContent a:hover {
    background-color: #706C61;
    color: white;
} 

.dropdown:hover .dropdownContent {
    display: block;
    background-color: #f9f9f9;
    }
    
.loginCartWrap {                            /* Container for Login, My Page and Cart */
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

.loginCartWrap a, .myPageText a {
    text-decoration: none;
    color: black;
}

.loginCartWrap a:hover {
    color:white;
}

.loginText:hover, .myPageText:hover {
    background-color: #706C61;
    color: white;
}
    
.loginText, .myPageText {         /* Children div element Login, My Page and Cart */
    width: 80px;
    padding: 18px;
    margin: 0;
}

.numberOfItemsInCart {
    text-align: left;
}

.cartField {
    padding:15px;
    width:60px;
    display:flex;
    margin-right: 13px;
}

.cartField:hover {
    background-color: #706C61;
    color: white;
}
    

       /*  MAIN/ARTICLE  */
.article {
    background-color: white;
    margin: 0 auto;
    width: 95vw;
    height: auto;
    text-align: justify;
    padding: 20px;
}


        /*  FOOTER  */  

footer {
    margin: 0 auto;
    width: 100vw;
    height: auto;
    background-color: #706C61;
}

.newsletterField {
    background-color: #C4C4C4;
    width: 60vw;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.newsletterInput {
    color: #C4C4C4;
    padding: 5px;
    outline: none;
}

.sendBtn {
    background-color: #706C61;
    border: none;
    color:white;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    outline: none;
}

.sendBtn:hover {
    cursor: pointer;
}

/*  FOOTER  */ 

.footWrap {
    display: flex;
    text-align: center;
    justify-content: center;
}

.footWrap a {
    text-decoration: none;
    color: black;
}

.contactUs, .clientService, .beMember {      /* Children div element for Kontakta Oss, Kundtjänst, Bli medlem */
    width: 25%;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.mobileScreenMenu {
    display:none;
} 

/* Responsivitet */
@media only screen and (max-width: 600px) {
    .footWrap {
        flex-direction: column;
    }
    .contactUs, .clientService, .beMember {
        width: 100%;
    }
  }

  @media only screen and (max-width: 400px) {
    .largeScreenMenu {
        display: none;
        }

    .mobileScreenMenu {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        padding-top: 4px;
        padding-bottom: 4px;
        
    }

    #dropdownMenuButton {
        background-color: #E1F4F3;
        color: black;
        border: none;
    }

    .dropdown-menu.show {
        z-index: auto;
        position: sticky;
    }


    .article {
        width: 89vw;
        margin: 0 auto;
    }

    .newsletterField {
        width: 90%
    }
  }